<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{title}} </title>
</head>
<body>
<h1> About me </h1>
<h2> BCIT ID - A01067710</h2>
<h2> Name - Vaishnavi </h2>
<h2> Program - CIT </h2>
<h2> Number of Courses - 7</h2>
</body>
{{>footer}}
</html>